<header class="main-header">
    <div class="header-container">
        <div class="logo">
            <a href="/">Verdoliva <span>Eco Park</span></a>
        </div>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/habitats">Habitats</a>
            <a href="/experiences">Experiences</a>
            <a href="/faq">FAQ</a>
            <a href="/activity">Interactive Activity</a>
            <a href="/contact" class="btn-nav">Contact Us</a>
        </nav>
    </div>
</header>